<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>도서 목록</title>
</head>
<body>
<h1>도서 목록</h1>
<a th:href="@{/books/save}">+ 도서 등록</a>
<div style="margin-top: 10px;"></div>
<table border="1">
  <tr>
    <th>제목</th>
    <th>저자</th>
    <th>장르</th>
    <th>ISBN</th>
    <th>출판일</th>
    <th>재고</th>
    <th>관리</th>
  </tr>
  <tr th:each="book : ${books}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.author.name}"></td>
    <td th:text="${book.genre.genreName}"></td>
    <td th:text="${book.isbn}"></td>
    <td th:text="${book.publishedAt}"></td>
    <td th:text="${book.stock}"></td>
    <td>
      <a th:href="@{'/books/' + ${book.bookId} + '/edit'}">수정</a> |
      <a th:href="@{'/books/' + ${book.bookId} + '/delete'}"
         onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
    </td>
  </tr>
</table>
<br>
<a th:href="@{/}" style="font-weight: bold;">home</a>
</body>
</html>
